.container {
    padding: 2rem 0rem;
    margin: auto;

    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper {

    display: inline-block;

}

.article {
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    width: 90vw;

    .body {
        text-align: center;
        background-color: beige;
        width: 100%;

        span {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
        }
    }
}