.section {
    margin: 3rem auto;
    max-width: 50rem;

    display: flex;
    text-align: justify;
}

.section_pub {
    margin: 8rem auto 3rem auto;
    max-width: 64rem;
}

.text {
    position: relative;
    width: 50%;
}

.more_details {
    margin-right: 1rem;
    text-align: right;

    a {
        color: #32a84a;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }
}

.image {
    width: 50%;
    margin: auto 1rem;


    .float_right {
        float: right;
        height: auto;
        width: 100%;
    }

    .float_left {
        float: left;
        height: auto;
        width: 100%;
    }
}

