.button_principal {
    font-size: 1.0rem;
    padding: 0.5rem 2rem;
    margin: 1rem;

    color:rgb(255, 255, 255);
    background-color: rgb(7, 102, 20);

    transition: 0.3s;

    border-radius: 0.5rem;

    &:hover {
        opacity: 0.8;
    }
}

.button_border {
    font-size: 1.0rem;
    padding: 0.5rem 2rem;
    margin: 1rem;

    transition: 0.3s;

    border: 2px solid;
    border-radius: 0.5rem;

    &:hover {
        opacity: 0.6;
    }
}